@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
       url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff'),
       url('../fonts/cuprum.woff') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff'),
       url('../fonts/cuprumbold.woff') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff'),
       url('../fonts/cuprumbolditalic.woff') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff'),
       url('../fonts/cuprumitalic.woff') format('ttf');
}
@font-face {
  font-family: 'Ptsans';
  font-style: normal;
  font-weight: 400;
  src: local('Ptsans'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff'),
       url('../fonts/ptsans.woff') format('ttf');
}
@font-face {
  font-family: 'Ptsans';
  font-style: normal;
  font-weight: 700;
  src: local('Ptsans Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff'),
       url('../fonts/ptsansbold.woff') format('ttf');
}

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
/* 50 оттенков асфальта */
  --basic-asphaltxxlight: #F3F7F9;    /*фон хедера?, телефона в хедере*/
  --basic-asphaltxlight: #F2F6F8;     /*фон заголовка страницы каталога*/
  --basic-asphaltlight: #F1F5F7;      /*фон хедера?, раздела "Сервисы", адрес и навигация в футере*/
  --basic-asphaltsemilight: #32425C;  /*фон навигации хедера и верхней панели футера, адресс, ссылки в Личном кабинете, текст/фон переключателей вкладок раздела "Сервисы"*/
  --basic-asphalt: #293449;           /*фон верхней панели хедера и нижней панели футера*/
  --basic-asphaltsemidark: #1D2739;   /*фон элемента навигации хедера при клике*/
  --basic-asphaltdark: #161D29;       /*фон элемента верхней панели хедера при клике*/
  --special-asphalt: #3D546F;         /*иконки входа/выхода при наведении*/
/* кремовые фоны */
  --basic-cream: #F9F5F0;             /*фон названий некоторых секций главной страниц*/
  --basic-creamdark: #F7F3EC;         /*фон фильтров и сортировки*/
/* красные */
  --basic-red: #EE3643;               /*логотип и элементы оформления*/
  --basic-redline: #B52933;           /*красная линия в логотипе*/
  --basic-a-reddark: #BA2732;         /*логотип и элементы оформления при клике*/
  --basic-a-redlinedark: #8E1E26;     /*красная линия в логотипе при клике*/
  --basic-redlight: #FF5257;          /*верхняя линия у всплывающего окна обратной связи и пометка "New" в разделе "Разделы каталога"*/
/* зеленые */
  --basic-green: #63A63E;             /*кнопки "Оформить заказ", "Купить" и прочее*/
  --basic-a-greenlight: #5FBB2D;      /*кнопки "Оформить заказ", "Купить" при наведений*/
  --basic-a-greendark: #518534;       /*кнопки "Оформить заказ", "Купить" при клике*/
/* желтый */
  --basic-yellowlight: #FFD180;       /*ссылки навигации разделов каталога и ссылки контактов в футере*/
/* серые */
  --basic-greyxlight: #EAEAEA;        /*рамки карточек товара и произволителей*/
  --basic-greylight: #C5C5C5;         /*иконки входа/выхода, чекбоксы, радио, сортировка, фон кнопки в разделе "Разделы каталога" при наведении (a=30%)*/
  --basic-greysemilight: #B5B5B5;     /*чекбоксы и радио при наведении и блокировке(a=30%)*/
  --basic-grey: #A9A9A9;              /*старая цена и плейсхолдеры, фон кнопки в разделе "Разделы каталога" при клике (a=30%)*/
  /*Изпользуются в блоке с разделами: "Разделы каталога",
  "Подразделы раздела каталога "Инструменты"", "Специальные предложения"*/
  --special-yellowdark: #FFBF47;
  --special-yellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  /*Точечные*/
  --phoneicon: #B7BFC8;               /*цвет иконки телефона в хедере*/
  --socialwebs: #212A3A;              /*фон соц сетей в футере*/
  --feedbackfooter: #F4F4F4;          /*футер всплывающего окна обратной связи*/
  --addedfooter: #F1F1F1;             /*футер всплывающего окна добавления товара*/
  --cookies: #C1C6CE;                 /*хлебные крошки в каталоге */
  --pricerangebg: #00CA74;            /*активная шкала формы цены*/
  --pricerange: #D7DCDE;              /*фон шкалы формы цены*/
  --pricedash: #444444;               /*тире между полями ввода формы цены*/
  --catalogbuttons: #E5E5E5;          /*границы кнопок "Показать" и навигации страниц в каталоге*/
}
