@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
       url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff'),
       url('../fonts/cuprum.ttf') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff'),
       url('../fonts/cuprumbold.ttf') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff'),
       url('../fonts/cuprumbolditalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff'),
       url('../fonts/cuprumitalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Ptsans';
  font-style: normal;
  font-weight: 400;
  src: local('Ptsans'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff'),
       url('../fonts/ptsans.ttf') format('ttf');
}
@font-face {
  font-family: 'Ptsans';
  font-style: normal;
  font-weight: 700;
  src: local('Ptsans Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff'),
       url('../fonts/ptsansbold.woff') format('ttf');
}

:root {
  --basic-white: #ffffff;
  --rgb-white: 255, 255, 255;
  --basic-black: #000000;
/* 50 оттенков асфальта */
  --basic-asphaltxxlight: #F3F7F9;    /*фон хедера?, телефона в хедере*/
  --basic-asphaltxlight: #F2F6F8;     /*фон заголовка страницы каталога*/
  --basic-asphaltlight: #F1F5F7;      /*фон хедера?, раздела "Сервисы", адрес и навигация в футере*/
  --basic-asphaltsemilight: #32425C;  /*фон навигации хедера и верхней панели футера, адресс, ссылки в Личном кабинете, текст/фон переключателей вкладок раздела "Сервисы"*/
  --basic-asphalt: #293449;           /*фон верхней панели хедера и нижней панели футера*/
  --basic-asphaltsemidark: #1D2739;   /*фон элемента навигации хедера при клике*/
  --basic-asphaltdark: #161D29;       /*фон элемента верхней панели хедера при клике*/
  --special-asphalt: #3D546F;         /*иконки входа/выхода при наведении*/
/* кремовые фоны */
  --basic-cream: #F9F5F0;             /*фон названий некоторых секций главной страниц*/
  --basic-creamdark: #F7F3EC;         /*фон фильтров и сортировки*/
/* красные */
  --basic-red: #EE3643;               /*логотип и элементы оформления*/
  --basic-redline: #B52933;           /*красная линия в логотипе*/
  --basic-a-reddark: #BA2732;         /*логотип и элементы оформления при клике*/
  --basic-a-redlinedark: #8E1E26;     /*красная линия в логотипе при клике*/
  --basic-redlight: #FF5257;          /*верхняя линия у всплывающего окна обратной связи и пометка "New" в разделе "Разделы каталога"*/
/* зеленые */
  --basic-green: #63A63E;             /*кнопки "Оформить заказ", "Купить" и прочее*/
  --basic-a-greenlight: #5FBB2D;      /*кнопки "Оформить заказ", "Купить" при наведений*/
  --basic-a-greendark: #367315;       /*кнопки "Оформить заказ", "Купить" при клике*/
/* желтый */
  --basic-yellowlight: #FFD180;       /*ссылки навигации разделов каталога и ссылки контактов в футере*/
/* серые */
  --basic-greyxlight: #EAEAEA;        /*рамки карточек товара и произволителей*/
  --basic-greylight: #C5C5C5;         /*иконки входа/выхода, чекбоксы, радио, сортировка, фон кнопки в разделе "Разделы каталога" при наведении (a=30%)*/
  --basic-greysemilight: #B5B5B5;     /*чекбоксы и радио при наведении и блокировке(a=30%)*/
  --rgb-greylight: 197, 197, 197;
  --basic-grey: #A9A9A9;              /*старая цена и плейсхолдеры, фон кнопки в разделе "Разделы каталога" при клике (a=30%)*/
  --rgb-grey: 169, 169, 169;
/*Изпользуются в блоке с разделами: "Разделы каталога",
"Подразделы раздела каталога "Инструменты"", "Специальные предложения"*/
  --special-yellowdark: #FFBF47;
  --special-yellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
/*Точечные*/
  --phoneicon: #B7BFC8;               /*цвет иконки телефона в хедере*/
  --socialwebs: #212A3A;              /*фон соц сетей в футере*/
  --feedbackfooter: #F4F4F4;          /*футер всплывающего окна обратной связи*/
  --addedfooter: #F1F1F1;             /*футер всплывающего окна добавления товара*/
  --breadcrumbs: #C1C6CE;                 /*хлебные крошки в каталоге */
  --pricerange: #00CA74;            /*активная шкала формы цены*/
  --pricerangebg: #D7DCDE;              /*фон шкалы формы цены*/
  --pricedash: #444444;               /*тире между полями ввода формы цены*/
  --catalogbuttons: #E5E5E5;          /*границы кнопок "Показать" и навигации страниц в каталоге*/
  --creditbuttons: #FF5357;          /*кнопка "отправить заявку" на кредит*/
  --servicetabtop: #405069;          /*верхняя граница кнопки-вкладки в разделе Сервисы*/
  --alpha-30: 0.3;
  --alpha-50: 0.5;
}
/* Common */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page-body address{
  font-style: normal;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  padding: 0;
  min-height: 38px;
  display: block;
  min-width: 192px;
  cursor: pointer;
}
.button:active {
  background-color: var(--basic-a-reddark);
}
.paragraph-text{
  font-family: "Ptsans", Arial, sans-serif;
  margin: 0;
  margin-top: 24px;
}


/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
/* Header */
.main-header {
  background-color: var(--basic-asphaltlight);
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header top bar */
.header-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-asphalt);
  width: 100%;
  margin-bottom: 37.5px;
  height: 42px;
}
.main-header-top-content {
  height: 42px;
}
.header-logo {
  color: var(--basic-white);
  background-color: var(--basic-red);
  box-sizing: border-box;
  border-bottom: 5px solid var(--basic-redline);
  display: flex;
  text-align: center;
  width: 220px;
  height: 47px;
}
.header-logo-img{
  display: block;
  margin: auto;
  width: 108px;
  height: 18px;
}
.header-logo:active {
  background-color: var(--basic-a-reddark);
}
/*Тут и далее пока что не знаю наверняка, что надо делать с иконками,
чтобы их оживить, но подключу, пусть хоть как-то будут*/
.header-search {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/icon-search.svg");
  width: 271px;
  height: 42px;
  padding-left: 42px;
  box-sizing: border-box;
  margin-right: auto;
}
.header-search:hover {
}
.header-search:empty {
  background-color: var(--basic-asphalt);
  color: var(--basic-white);
}
.header-search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.products-interaction {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  display: flex;
  align-items: stretch;
  margin: 0;
  max-width: 450px;
}
.products-interaction-item {
  width: 150px;
  box-sizing: border-box;
  display: flex;
}
.products-interaction-item:active {
  background-color: var(--basic-asphaltdark);
}
.products-interaction-item-text {
  background-repeat: no-repeat;
  color: var(--basic-white);
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  width: 100%;
}
.products-interaction-item-text:active{
  opacity: var(--alpha-50);
}
.products-interaction-item-bookmarks{
  background-image: url("../img/icon-bookmark.svg");
  padding-left: 35px;
}
.products-interaction-item-cart{
  background-image: url("../img/icon-cart.svg");
  padding-left: 35px;
}
.products-interaction-item-order .products-interaction-item-text {
  text-align: center;
}
.products-interaction-item-order {
  background-color: var(--basic-green);
}
.products-interaction-item-order:hover,
.products-interaction-item-order:focus {
  background-color: var(--basic-a-greenlight);
}
.products-interaction-item-order:active {
  background-color: var(--basic-a-greendark);
}

/* Header middle space */
.header-middle-space {
  flex-wrap: wrap;
  align-items: flex-start;
}
.short-info {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  display: block;
  width: 200px;
  margin: 0;
}
.header-address {
  text-align: center;
  color: var(--basic-asphaltsemilight);
  font-size: 14px;
  line-height: 24px;
  display: block;
  width: 270px;
  margin-left: 90px;
  margin-right: 69px;
}
.header-phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 45px;
  background-color: var(--basic-asphaltxxlight);
  border-style: solid;
  border-width: 3px;
  border-color: var(--basic-white);
  display: block;
  min-width: 270px;
  height: 45px;
  box-sizing: border-box;
}
.user-navigation {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: block;
  max-width: 300px;

}
.user-navigation-log {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 45px;
  display: inline-block;
  line-height: 45px;
  margin: 10px;
  text-align: center;
}
/* Пока что не знаю точно, как сделать икони,
которые бы реагировали на взаимодействие
.logout {
  background-image: url("../img/icon-logout.svg");
  height: 17px;
  width: 19.91px;
}
.login {
  background-image: url("../img/icon-login.svg");
  height: 17px;
  width: 19.91px;
}*/
.user-navigation-log:hover,
.user-navigation-log:focus {
  color: var(--basic-red);
}
.user-navigation-log:active {
  color: var(--basic-greylight);
}
.user-navigation-inside{
  color: var(--basic-asphaltsemilight);
  background-color: transparent;
  font-size: 16px;
  line-height: 18px;
}
.user-navigation-inside:hover,
.user-navigation-inside:focus{
  color: var(--basic-red);
}
.user-navigation-inside:active {
  color: var(--basic-greylight);
}

/* Header navigation */
.header-navigation-wrapper {
  background-color: var(--basic-asphaltsemilight);
  border-bottom: 5px solid var(--basic-asphalt);
  width: 100%;
  margin-top: 44.5px;
  margin-bottom: 60px;
}
.header-site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right: 24px;
  padding-left: 24px;
}
.header-site-navigation-list-item {
  flex-grow: 1;
  margin: 0;
  display: flex;
}
.header-site-navigation-item {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  flex-grow: 1;
  display: block;
  text-align: center;
}
.header-site-navigation-item:hover,
.header-site-navigation-item:focus {
  background-color: var(--basic-asphalt);
}
.header-site-navigation-item:active {
  background-color: var(--basic-asphaltsemidark);
  color: rgba(var(--rgb-white), var(--alpha-50));
}

/* Footer */
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-asphaltlight);
  background-color: var(--basic-asphaltsemilight);
}
.main-footer .container {
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer-logo {
  color: var(--basic-white);
  background-color: var(--basic-red);
  box-sizing: border-box;
  border-bottom: 5px solid var(--basic-redline);
  display: flex;
  text-align: center;
  width: 220px;
  height: 68px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 22px;
}
.footer-logo-img {
  display: block;
  margin: auto;
  width: 136.5px;
  height: 21.6px;
}
.footer-logo:active {
  background-color: var(--basic-a-reddark);
}
.footer-phone {
  color: var(--basic-asphaltlight);
}
.footer-site-navigation {
  min-width: 720px;
}
.footer-site-navigation-items {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 700px;
  column-gap: 58px;
}
.footer-site-navigation-item {
  padding-top: 7px;
  padding-bottom: 7px;
}
.footer-site-navigation-item-text {
  color: var(--basic-asphaltlight);
  padding-top: 7px;
  padding-bottom: 7px;
}
.footer-catalog-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 600px;
  column-gap: 58px;
}
.footer-catalog-navigation-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-catalog-navigation-item-text {
  color: var(--basic-yellowlight);
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-site-navigation-item-text:focus,
.footer-site-navigation-item-text:hover,
.footer-catalog-navigation-item-text:focus,
.footer-catalog-navigation-item-text:hover{
  text-decoration: underline;
}
.footer-site-navigation-item-text:active,
.footer-catalog-navigation-item-text:active {
  text-decoration: none;
  opacity: var(--alpha-50);
  list-style: none;
  padding: 0;
}
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-asphalt);
  margin-top: 54px;
  padding-top: 34px;
  padding-bottom: 29px;
}
.footer-bottom .container {
  align-items: flex-start;
}
.copy-right {
  width: 270px;
  margin: 0;
  margin-top: 2px;
}
.contact-authours-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.contact-authours-item {
  display: block;
  min-width: 112px;
}
.contact-authours {
  color: var(--basic-yellowlight);
}
.contact-authours:focus,
.contact-authours:hover {
  text-decoration: underline;
}
.contact-authours:active {
  text-decoration: none;
  color: var(--basic-red);
}
.socialwebs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 3.5px;
}
.socialwebs {
  color: var(--basic-white);
  border-radius: 50%;
  background-color: var(--socialwebs);
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.socialwebs:hover,
.socialwebs:focus,
.socialwebs:active {
  background-color: var(--basic-red);
}
.socialwebs-vk{
  background-image: url("../img/icon-vk.svg");
}
.socialwebs-fb{
  background-image: url("../img/icon-fb.svg");
}
.socialwebs-ig{
  background-image: url("../img/icon-insta.svg");
}

/* Index */


.catalog-links{
  margin-top: 59px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.catalog-links-item-name {
  margin: 0;
  margin-bottom: 14px;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
}
.catalog-links-button {
  min-width: 135px;
}
.catalog-sections,
.special-offers {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.special-offers {
  width: 300px;
  flex-direction: column;
}
.special-offers-item {
margin-top: 20px;
}
.catalog-sections-item .button,
.special-offers-item .button {
  width: 135px;
}
.catalog-sections .button,
.special-offers .button {
  background-color: rgba(var(--rgb-white), var(--alpha-30));
}
.catalog-sections .button:focus,
.catalog-sections .button:hover,
.special-offers .button:focus,
.special-offers .button:hover {
  background-color: rgba(var(--rgb-greylight), var(--alpha-30));
}
.catalog-sections .button:active,
.special-offers .button:active {
  background-color: rgba(var(--rgb-grey), var(--alpha-30));
}
.catalog-sections-item ,
.special-offers-item {
  min-height: 123px;
  width: 300px;
  display: block;
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  padding: 20px 0 21px 23px;
  flex-grow: 0;
}
.catalog-sections-materials {
  background-color: var(--special-yellowdark);
  background-image: url("../img/pic-paint.svg");
}
.catalog-sections-instruments {
  background-color: var(--special-blue);
  background-image: url("../img/pic-drill.svg");
}
.catalog-sections-machines {
  background-color: var(--special-lilac);
  background-image: url("../img/pic-tractor.svg");
}
.special-offers-discount {
  background-color: var(--special-greenlight);
  background-image: url("../img/pic-cart.svg");
}
.special-offers-delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/pic-truck.svg");
}
.slider-instruments{
  background-color: var(--special-asphaltsemilight);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 59px;
}
.slider-items{
}
.slider-item-name{
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 5px;
}
.slider-item-description {
  margin: 0;
}
.slider-item{
  min-height: 266px;
  width: 620px;
  padding: 23px 20px 27px 24px;
  box-sizing: border-box;
}
.slider-control {
  background-color: transparent;
  border: none;
  display: block;
  height: 40px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.slider-item-drill{
  background-image: url("../img/slider-drill.jpg");
  background-repeat: no-repeat;
}
.slider-item-perforator{
  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
}
.button-forward{
  background-image: url("../img/icon-left.svg");
}
.button-backward{
  background-image: url("../img/icon-left.svg");
}
.section-name,
.subsection-name,
.catalog-section-name {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.catalog-section-name {
  padding: 29px 29px 30px 29px;
  box-sizing: border-box;
}
.subsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.subsection-header {
  background-color: var(--basic-cream);
  padding: 0 19px 1px 28px;
  min-height: 89px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.subsection-name,
.catalog-section-name {
  color: var(--basic-asphaltsemilight);
}
.catalog-items-list,
.producers-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  row-gap: 20px;
  column-gap: 20px;
}
.catalog-item,
.producer-item {
  background-color: var(--basic-white);
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-color: var(--basic-greyxlight);
  min-height: 318px;
  width: 220px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.producer-item {
  min-height: 145px;
}
.producer-item-img {
  display: block;
  margin: auto;
}
.catalog-item:hover,
.catalog-item:focus,
.producer-item:hover,
.producer-item:focus {
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}
.producer-item:active {
  opacity: var(--alpha-50);
}
.old-price {
  color: var(--basic-grey);
  font-size: 17px;
  line-height: 18px;
}
.catalog-item-buttons {
  background-color: var(--basic-white);
  list-style: none;
  padding: 0;
}
.actual-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
}
.add-to-cart {
  background-color: var(--basic-green);
  border-radius: 2px;
  border-bottom: 3px solid var(--basic-a-greendark);
}
.add-to-cart:focus,
.add-to-cart:hover {
  background-color: var(--basic-a-greenlight);
}
.add-to-cart:active {
  background-color: var(--basic-a-greendark);
}
.add-to-cart::before {
  content: url("../img/icon-cart.svg");
  opacity: var(--alpha-30);
}
.add-to-bookmarks {
  color: var(--basic-asphaltsemilight);
  background-color: var(--basic-white);
  border-radius: 2px;
  border-color: var(--basic-green);
  border-style: solid;
  border-width: 3px;
}
.add-to-bookmarks:focus,
.add-to-bookmarks:hover,
.add-to-bookmarks:active {
  background-color: var(--basic-white);
  border-color: var(--basic-asphaltsemilight);
}
.add-to-bookmarks:active {
  opacity: var(--alpha-50);
}
.section-service-wrapper,
.section-facts-wrapper {
  background-color: var(--basic-asphaltlight);
  padding: 0;
  padding-top: 70px;
  margin: 0;
}
.section-facts-wrapper {
  padding: 64px 0 68px 0;
  margin: 0;
  margin-top: 59px;
}
.section-facts-wrapper .container {
  flex-direction: column;
}
.service-tabs {
  display: flex;
}
.services-tab-list {
  list-style: none;
  padding: 45px 0 49px 0;
  display: block;
  width: 240px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 54px;
}
.service-tab {
  color: var(--basic-white);
  background-color: var(--basic-asphaltsemilight);
  border: none;
  font-size: 21px;
  line-height: 30px;
  min-width: 240px;
  min-height: 62px;
  padding: 13.5px 22px 17.5px 22px;
  text-align: left;
  box-sizing: border-box;
  border-top: 1px solid var(--servicetabtop);
  border-bottom: 1px solid var(--basic-asphalt);
  cursor: pointer;
  }
.service-tab:hover,
.service-tab:focus {
  background-color: var(--basic-asphalt);
}
.service-tab:active,
.service-tab:disabled {
  color: var(--basic-asphaltsemilight);
  background-color: var(--basic-white);
  border: none;
  cursor: default;
}
.services-items {
  display: flex;
  width: 700px;
  margin-top: 21px;
}
.services-item {
  background-repeat: no-repeat;
  background-position: right bottom;
  box-sizing: border-box;
  padding: 46px 250px 54px 80px;
  min-height: 333px;
  flex-grow: 1;
}
.service-delivery {
  background-image: url("../img/pic-delivery.png");
}
.service-guarantee {
  background-image: url("../img/pic-guarantee.png");
}
.service-credit {
  background-image: url("../img/pic-credit.png");
}
.credit-button {
  min-width: 195px;
  background-color: var(--creditbuttons);
  border-radius: 2px;
}
.container .subsection {
  align-items: flex-start;
}
.transport-companies-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 8px;
}
.transport-companies-item {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-left: 38px;
}
.mini-map {
  display: block;
  width: 300px;
  height: 158px;
  margin: 32px 0 25px;
}
.lost-button {
  padding: 0 34px;
}
/* Index feedback window */
.container-feedback-window,
.adding-window {
  width: 620px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.feedback-window{
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  border-top: 7px solid var(--basic-redlight);
}
.feedback-window-form-main {
  padding: 39px 80px 37px 80px;
  box-sizing: border-box;
  min-height: 311px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedback-window-form {
  color: var(--basic-black);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  margin: 11px 0 13px 0;
  display: block;
  padding: 7px 12px;
  min-width: 220px;
  min-height: 38px;
  box-sizing: border-box;
}
textarea.feedback-window-form {
  width: 460px;
  height: 114px;
  margin-bottom: 0;
}
.adding-window-footer,
.feedback-window-footer {
  background-color: var(--feedbackfooter);
  width: 620px;
  min-height: 112px;
  padding: 37px 80px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.feedback-window-submit {
  flex-grow: 1;
}

/* Index map window */
.container-map-window {
  height: 449px;
}
.map-window,
.adding-window {
  border: none;
  border-top: 7px solid var(--basic-red);
  text-align: center;
}

.close-button,
.close-button:hover,
.close-button:focus,
.close-button:active {
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  border: none;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 20.97px;
  min-width: 20.97px;
  cursor: pointer;
}
.continue-shopping-button,
.continue-shopping-button:hover,
.continue-shopping-button:focus,
.continue-shopping-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* catalog adding window */
.adding-window-message {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  min-height: 163.5;
  margin-top: 48px;
  margin-bottom: 49.5px;
  margin-left: 99px;
  margin-right: 100px;
  padding-left: 96px;
  box-sizing: border-box;
}
.adding-window-message::before {
  content: url("../img/icon-mark.svg");
  background-color: var(--basic-green);
  display: block;
  height: 66px;
  width: 66px;
  border-radius: 50%;
}
.adding-window-footer {
  background-color: var(--addedfooter);
  list-style: none;
  padding-left: 114px;
  padding-right: 112px;
}

/* catalog */
.catalog-main {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.breadcrumbs-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  width: 940px;
  grid-column-start: span 2;
}
.breadcrumbs-navigation-item {
  font-size: 13px;
  line-height: 18px;
}
.breadcrumbs-navigation-item-content {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-family: "Ptsans", Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 41px;
}
.breadcrumbs-navigation-home {
  background-image: url("../img/icon-home.svg");
  display: block;
  min-height: 12px;
  min-width: 14px;
  padding-left: 0;
}
.catalog-section-name {
  background-color: var(--basic-asphaltxlight);
  margin: 0;
  width: 940px;
  grid-column-start: span 2;
}

.filter-container {
  grid-row-start: span 2;
  width: 220px;
}
.sorting-container,
.sorting-title,
.filter-wrapper,
.filter-title {
  background-color: var(--basic-creamdark);
  border-radius: 2px;
  font-family: "Ptsans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  margin: 0;
  margin-bottom: 8px;
  padding: 10px 18px;
  box-sizing: border-box;
}
.sorting-title {
  margin: 0;
}
.sorting-container {
  padding: 0;
  display: flex;
}
.filter-section {
  margin: 0;
  padding: 0;
  border: 0 none;
  border-bottom: 1px solid  var(--catalogbuttons);
  padding-bottom: 25px;
}
.filter-section:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 34px;
}
.sorting-parameter {
  background-color: transparent;
  color: var(--basic-black);
  font-family: "Ptsans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: var(--alpha-30);
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;
}
.sorting-parameter:focus,
.sorting-parameter:hover {
  opacity: 1;
  border-bottom-style: solid;
}
.sorting-parameter:active,
.sorting-parameter:disabled {
  background-color: transparent;
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}
.sorting-parameter:disabled {
  cursor: default;
}
/* Для того, чтобы сделать иконци-треугольнички */

.showing-parameter,
.showing-parameter:focus,
.showing-parameter:hover,
.showing-parameter:disabled {
  border: none;
}
.showing-parameter:disabled {
  cursor: default;
}
.go-up {
}
.go-down {
}
.filter-parameter {
  font-family: "Ptsans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 18px;
  display: block;
 }
.filter-parameter:first-of-type {
  margin-top: 10px;
}
.filter-parameter-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sorting-parameter-list {
 list-style: none;
 padding: 0;
 display: flex;
 margin: 10px;
}
.filter-parameter-item,
.sorting-parameter-item {
  margin: 0;
  padding: 0;
}
.price-input {
  display: flex;
  justify-content: space-between;
}
.price-gange-input{
  background-image: url("../img/filter-button.svg");
  display: block;
  height: 22px;
  width: 20px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* Без понятия, что это за фигня, пусть, пока что будет так */
.range-line-background{
  background-color: var(--pricerangebg);
  display: block;
  height: 2px;
  width: 180px;
  border: none;
}
.range-line{
  background-color: var(--pricerange);
  display: block;
  height: 2px;
  width: 152px;
  border: none;
}
.price-number-input{
  color: var(--basic-black);
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  width: 95px;
}
.price-dash {
  color: var(--pricedash);
  font-family: "Ptsans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.filter-by-producer-item,
.filter-by-power-item {
  color: var(--basic-black);
  font-size: 15px;
  line-height: 19px;
  font-family: "Ptsans", Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 35px;
  margin-top: 20px;
  display: block;
  cursor: pointer;
}
.filter-by-power-item {
}

/* Pagination */
.pagination-list{
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  margin-top: 48px;
  column-gap: 10px;
}
.page-number,
.submit-filter {
  font-family: "Ptsans", Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--catalogbuttons);
  text-align: center;
  display: block;
  box-sizing: border-box;
  height: 38px;
  min-width: 38px;
  margin: 0;
  padding: 0 5px;
}
.submit-filter {
  min-height: 38px;
  flex-grow: 0;
  cursor: pointer;
}
.page-number{
  border-radius: 2px;
}
.page-number:focus,
.page-number:hover,
.submit-filter:focus,
.submit-filter:hover {
  border-color: var(--basic-greylight);
}
.page-number:active,
.submit-filter:active {
  border-color: var(--basic-red);
}
.current-page-number {
  background-color: var(--basic-red);
  border-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}
.next-page-number {
  min-width: 140px;
}
.submit-filter {
  width: 220px;
}
